<h1>Outside the Temple of Colors</h1>
<p>
  When I decided to make this site for the <em>Greetings from JRL</em>-app, I also decided to make it in the form of an ASP.NET MVC with a Angular client.
</p>
<p>
  In it's first incarnation it would literally be a single page app, so not much use for Angular for that, but I had a vague idea about making the app into a web-version, using the back end and Angular.
</p>
<p>
  Not that I had any experience with Angular, but had recently done an <a href="https://mva.microsoft.com/RewardEvidence.aspx/?key=Vcaz9t9aVlSIrTLDIYxySA2&WT.mc_id=mva_eml_eng_usen_lpbadge_see">MVA Learning Path about MEAN Stack Development</a>, and I found the Angular-part most interesting: using data-binding and TypeScript it seemed it could be a web-frontend platform that I would actually enjoy working on.
</p>
<p>
  So, I did end up making the web version: I just finished it, in fact. And I found out that I actually <em>do</em> like working with Angular &amp; TypeScript!
</p>
<p>
  This was Angular 5, and the MVA was actually for AngularJS, so the learning curve had some bumps. But the <a href="https://angular.io/tutorial">Tour of Heroes</a> helped me catch up, and the Temple was finished within a couple of part-time weeks.
</p>
<p style="font-family: immortalregular, 'Times New Roman', serif;">
  Hence, you can now also go on the quest for colors in the <em>Temple of Colors</em>, and at the same time learn more about me, right here on the web
</p>
<button style="font-family: immortalregular, 'Times New Roman', serif; display: block; margin: auto" (click)="enterTemple()">Enter the Temple</button>
