<h1>About Greetings from JRL</h1>
<p>The app <i>Greetings from JRL</i> is a small presentation of it's developer, Jon Robinson Levy. It is developed in C#/.Net using <a href="https://en.wikipedia.org/wiki/Xamarin">Xamarin</a> (Forms) and <a href="https://www.mvvmcross.com/">MvvmCross</a> for iOS, Android and UWP. It is only publicly available for Android and UWP, however.</p>
<p>The app is a sort of mini-game, where you explore various rooms in order to learn more about the developer. If you find the hidden room, and solve all tasks and puzzles, you may even have saved the world and received a reward.</p>
<p>Note: the app is <i>not</i> supposed to be beautiful: simplicity, ideas, and texts are the focus.</p>
<p>The app was originally intended for a specific potential employer (and I got the job, but then I didn't&hellip; long story), this is a modified, general version. The original version didn't include a back end, this one does (just for show), which is hosted on this site.</p>
<p>Get the App here:</p>
<ul>
  <li><a href="https://play.google.com/store/apps/details?id=com.twewind.jrlgreetings">Google Play (Android)</a></li>
  <li><a href="https://www.microsoft.com/store/apps/9NKXXB01VFC4">Microsoft Store (Windows (UWP))</a></li>
  <li>Or try the online, <a [routerLink]="['/temple']">Angular 5 version right here on this site</a>.</li>
  <!--<li>As of October 2018 the app is also available as <a href="wpfapp/jrlgreetings.WPF.msi">an old school WPF Windows Application</a></li>.-->
</ul>
<p>And the actual source code for the app &amp; more, can be <a href="https://github.com/WayaFlyfeather/jrlgreetings">found in this github-repo</a>.</p>
<p>You can find more information about the developer here:</p>
<ul>
  <li><a href="https://www.linkedin.com/in/jonrobinsonlevy/">LinkedIn Profile</a></li>
  <li><a href="jrlresumeda.pdf">Resume for Jon Robinson Levy (in Danish)</a></li>
  <li><a href="jrlresumeen.pdf">Resume for Jon Robinson Levy (in English)</a></li>
  <li><a href="https://devconnect.xamarin.com/profile/861#verify">Xamarin Certified Developer info</a></li>
</ul>
<p>Here are some writings about Xamarin development from the developer, some even pertaining to the development of the app:</p>
<ul>
  <li><a href="https://www.linkedin.com/pulse/xamarin-forms-multilingual-app-toolkit-v40-some-gotchas-levy/">Xamarin Forms, Multilingual App Toolkit v4.0, and some Gotchas</a></li>
  <li><a href="https://www.linkedin.com/pulse/tooltips-uwp-android-xamarin-forms-apps-jon-robinson-levy/">ToolTips in UWP (and Android) Apps</a></li>
  <li><a href="https://www.linkedin.com/pulse/gradient-effect-xamarin-forms-jon-robinson-levy/">A Gradient Effect - for Xamarin Forms</a></li>
  <li><a href="https://www.linkedin.com/pulse/using-triggers-visualstatemanager-jon-robinson-levy/">Using Triggers for a VisualStateManager in Xamarin Forms 3.0</a></li>
</ul>
<p>Other apps from the developer:</p>
<ul>
  <li>Pony Tjalnz (another sample app) <a href="https://play.google.com/store/apps/details?id=com.twewind.PonyChallenge">Android</a> / <a href="https://www.microsoft.com/store/apps/9N86P1TDCVZL">Windows</a></li>
  <li>Dice Champ (a D&amp;D dice roller) <a href="https://play.google.com/store/apps/details?id=com.twewind.DiceChamp">Android</a> / <a href="https://www.microsoft.com/store/apps/9NFM0HSN2GF2">Windows</a></li>
  <li>Twewind (a Twitter VCR) <a href="https://www.microsoft.com/store/apps/9NBLGGH5XNG0">Windows</a></li>
</ul>
