<div *ngIf="room" style="position: relative; top:0; left: 0" class="room-content-border">
  <p class="room-content">{{ room.contentText }}</p>
  <div *ngIf="veil7visible" class="veil-red-orange-semi-transparent"></div>
  <div *ngIf="veil6visible" class="veil-orange-yellow"></div>
  <div *ngIf="veil5visible" class="veil-yellow-green"></div>
  <div *ngIf="veil4visible" class="veil-green-turquoise"></div>
  <div *ngIf="veil3visible" class="veil-turquoise-blue"></div>
  <div *ngIf="veil2visible" class="veil-blue-purple"></div>
  <div *ngIf="veil1visible" class="veil-purple-violet"></div>
</div>
