<div *ngIf="room" class="room-content-border">
  <div style="position:relative; top:0; left:0" *ngIf="room.annoyanceFactor > 0.0; else noAnnoyance">
    <div style="z-index:0" [style.transform]="'translate(-' + annoyanceOffset + ', -' + annoyanceOffset + ')'" class="room-content">{{ choppedContentTextOffset0 }}</div>
    <div style="z-index:1; position: absolute; top:0; left:0" [style.transform]="'translate(-' + annoyanceOffset + ', ' + annoyanceOffset + ')'" class="room-content">{{ choppedContentTextOffset1 }}</div>
    <div style="z-index:2; position: absolute; top:0; left:0" [style.transform]="'translate(' + annoyanceOffset + ', -' + annoyanceOffset + ')'" class="room-content">{{ choppedContentTextOffset2 }}</div>
    <div style="z-index:3; position: absolute; top:0; left:0" [style.transform]="'translate(' + annoyanceOffset + ', ' + annoyanceOffset + ')'" class="room-content">{{ choppedContentTextOffset3 }}</div>
  </div>
  <ng-template #noAnnoyance>
    <div class="room-content">{{ room.contentText }}</div>
  </ng-template>
</div>
