<ng-container *ngIf="room">
  <p class="room-description">{{ room.description }}</p>
  <ng-container [ngSwitch]="roomId">
    <app-north-west-challenge *ngSwitchCase="0" [room]="room"></app-north-west-challenge>
    <app-north-challenge *ngSwitchCase="1" [room]="room"></app-north-challenge>
    <app-north-east-challenge *ngSwitchCase="2" [room]="room"></app-north-east-challenge>
    <app-west-challenge *ngSwitchCase="3" [room]="room"></app-west-challenge>
    <app-south-west-challenge *ngSwitchCase="6" [room]="room"></app-south-west-challenge>
    <app-south-challenge *ngSwitchCase="7" [room]="room"></app-south-challenge>
    <app-south-east-challenge *ngSwitchCase="8" [room]="room"></app-south-east-challenge>
    <p class="room-content" *ngSwitchDefault>No challenge: {{ room.contentText }}</p>
  </ng-container>
  <button [disabled]="!canGoWest" (click)="goWest()">West</button>
  <button [disabled]="!canGoNorth" (click)="goNorth()">North</button>
  <button [disabled]="!canGoEast" (click)="goEast()">East</button>
  <button [disabled]="!canGoSouth" (click)="goSouth()">South</button>
  <p>Complete: {{ room.completed }} </p>
  <ng-container *ngIf="temple">
    <p>Completed: {{ temple.completedRoomsCount }}</p>
    <p>Not Completed: {{ temple.notCompletedRoomsCount }}</p>
  </ng-container>
  <p>Annoyance: {{ room.annoyanceFactor }}</p>
  <div class="mat-app-background">
    <mat-slider max="100" min="0" [value]="room.annoyanceFactor" (input)="updateAnnoyanceFactor($event)"></mat-slider>
  </div>
</ng-container>
