<ng-container *ngIf="room">
  <p>{{ room.description }}</p>
  <p>{{ room.contentText }}</p>
  <button [disabled]="!canGoWest" (click)="goWest()">West</button>
  <button [disabled]="!canGoNorth" (click)="goNorth()">North</button>
  <button [disabled]="!canGoEast" (click)="goEast()">East</button>
  <button [disabled]="!canGoSouth" (click)="goSouth()">South</button>
  <p>Annoyance: {{ room.annoyanceFactor }}</p>
  <div class="mat-app-background">
    <mat-slider max="100" min="0" [(ngModel)]="room.annoyanceFactor"></mat-slider>
  </div>
</ng-container>
