.room-title {
  border-bottom: solid;
  font-family: immortalregular, 'Times New Roman', serif;
}

.room-view {
  border: thin solid grey;
  width: 90%;
  height:33em;
  margin: auto;
  background-color: #f4f4f4;
}

.completed-room-view {
  border-color: #8080a0;
  background-color: #e8e8ff; 
}

.temple-completed-room-view {
  border-color: #8080a0;
  background-image: linear-gradient(to bottom right, #ff0000, #00ff00);
}

.room-row {
  display: flex;
  justify-content:space-between;
  height: 90%;
}

.room-inner-view {
  display: inline-block;
  width: 90%;
  height:90%;
}

.button-north-south {
  display: block;
  margin: auto;
  width: 90%;
  height: 5%;
}

.button-east-west {
  display: inline-block;
  width: 5%;
  height:100%;
}

.completed-room-button {
  background-color: #d8d8ff;
}
  .completed-room-button:focus, .completed-room-button:hover {
    background-color: #b8b8ff;
  }
  .completed-room-button:disabled {
    background-color: #e8e8ff;
  }

.temple-completed-north-button {
  background-image: linear-gradient(to right, #ff0000, #0000ff);
}
  .temple-completed-north-button:focus, .temple-completed-north-button:hover {
    background-image: linear-gradient(to right, #d00000, #0000d0);
  }
  .temple-completed-north-button:disabled {
    background-image: linear-gradient(to right, #b02020, #2020b0);
  }

.temple-completed-south-button {
  background-image: linear-gradient(to right, #ffff00, #00ff00);
}
  .temple-completed-south-button:focus, .temple-completed-south-button:hover {
    background-image: linear-gradient(to right, #d0d000, #00d000);
  }
  .temple-completed-south-button:disabled {
    background-image: linear-gradient(to right, #b0b020, #20b020);
  }

.temple-completed-west-button {
  background-image: linear-gradient(to bottom, #ff0000, #ffff00);
}
  .temple-completed-west-button:focus, .temple-completed-west-button:hover {
    background-image: linear-gradient(to bottom, #d00000, #d0d000);
  }
  .temple-completed-west-button:disabled {
    background-image: linear-gradient(to bottom, #b02020, #b0b020);
  }

.temple-completed-east-button {
  background-image: linear-gradient(to bottom, #0000ff, #00ff00);
}
  .temple-completed-east-button:focus, .temple-completed-east-button:hover {
    background-image: linear-gradient(to bottom, #0000d0, #00d000);
  }
  .temple-completed-east-button:disabled {
    background-image: linear-gradient(to bottom, #2020b0, #20b020);
  }

.room-description {
  border: medium outset grey;
  padding: 3px 3px 3px 3px;
  width: 90%;
  height: 38%;
  overflow: auto;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: immortalregular, 'Times New Roman', serif;
  white-space: pre-wrap;
}

.room-content-container {
  border: medium inset grey;
  padding: 5px 5px 5px 5px;
  margin: auto;
  width: 96%;
  height: 55%;
  overflow: auto;
}

.room-lever {
  display: block;
  color: black;
  width: 90%;
  height: 5%;
  margin: auto;
}

.room {
  color: #101010;
}

.room-completed {
  color: #101080;
}



