/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.bgimg { 
}

.bgimg:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.10;
  background-image: url("/images/jrl.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

@font-face {
  font-family: 'monospacetypewriterregular';
  src: url('/assets/fonts/MonospaceTypewriter-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'immortalregular';
  src: url('/assets/fonts/immortal-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

.room-content {
  font-family: monospacetypewriterregular, 'Courier New', monospace;
  white-space: pre-wrap;
}
